.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
  margin: 10px;
}


.App-header {
  background-color: #4f5312;
  min-height: 150px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header span {
  margin: 20px;
}

.App-link {
  color: #b2bdc0;
}